<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/singup.css" />
    <title>SIESGSTarena</title>
  </head>
  <body>
    <form action="/signin" method="POST">
    <div class="form" >
        <h3 class="title">Welcome Back <br> <span>Mate</span></h3>
        <i class="material-icons" style="color: white;">
            account_circle
        </i>
        <div class="content">
            <div>
                <input class="input" type="" id="email" name="email"  placeholder="Email" ></input>
               </div>
               <p style="color: white;">Or</p>
                <div>
                <input class="input" type="" id="email" name="email" placeholder="Phone number" ></input>
               </div>
            <div>
                <input class="input" type="password" placeholder="Password" id="password" name="password"></input>
           
            </div>
        <div><button type="submit" class="button"><a href="/"> SIGN IN</a></button></div>
        <p class="aha"><span><a href="/forget"> Forget your password?</a></span></p>
        <p class="aha"><span><a href="/edit"> Edit your username?</a></span></p>
        <p class="aha">Don't have an account? <span><a href="/register"> Sign Up</a></span></p>
        </div>
    </div>
</form>
    
    
    </div> 
  </body>
</html>
